<ion-header>
  <ion-toolbar>
    <ion-title>Payment Status</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../assets/images/background1.png">
      </ion-avatar>
      <ion-label>
        <h3>John Doe</h3>
        <p>July 10, 2023</p>
      </ion-label>
    </ion-item>
    <ion-card-header>
      <ion-card-title>Payment Sucess</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-icon name="checkmark-circle-sharp" size="large" color="primary"></ion-icon>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>
        <h3>Peter Reyes</h3>
        <p>July 17, 2023</p>
      </ion-label>
    </ion-item>
    <ion-card-header>
      <ion-card-title>Payment Failed</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-icon name="close-circle-sharp" size="large" color="sucess"></ion-icon>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../assets/images/background1.png">
      </ion-avatar>
      <ion-label>
        <h3>Michael Garcia</h3>
        <p>June 22, 2023</p>
      </ion-label>
    </ion-item>
    <ion-card-header>
      <ion-card-title>Payment Sucess</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-icon name="checkmark-circle-sharp" size="large" color="primary"></ion-icon>
    </ion-card-content>
  </ion-card>

  