<ion-header>
  <ion-toolbar>
    <ion-title>Status</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../assets/images/background1.png">
      </ion-avatar>
      <ion-label>
        <h3>John Doe</h3>
        <p>Dec 10, 2019</p>
      </ion-label>
    </ion-item>
    <ion-card-header>
      <ion-card-title>Hotel Panama Garden</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus iaculis mollis ligula sed ultrices.
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../assets/images/background1.png">
      </ion-avatar>
      <ion-label>
        <h3>John Doe</h3>
        <p>Dec 10, 2019</p>
      </ion-label>
    </ion-item>
    <ion-card-header>
      <ion-card-title>Hotel Panama Garden</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus iaculis mollis ligula sed ultrices.
    </ion-card-content>
  </ion-card>
