<ion-header>
  <ion-toolbar color="success">
    <ion-title>Maps</ion-title>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <img src="https://cdn.images.dailystar.co.uk/dynamic/1/photos/634000/Map-of-Leicester-incident-1467634.png?r=5bb765faa02fc" />
<ion-card>
  <ion-card-content>
    <p> Address: Hjahksjal, jhkajs</p>
    <p> Address: Hjahksjal, jhkajs</p>
    <p> Address: Hjahksjal, jhkajs</p>
    <p> Address: Hjahksjal, jhkajs</p>
  </ion-card-content>
</ion-card>
</ion-content>