<ion-header>
  <ion-toolbar>
    <ion-title>Violation Form</ion-title>
    <ion-buttons slot="start">
      <ion-back-button default-href="#" routerLink="/violation"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  </ion-header>

  <ion-content color="light">
    <ion-list [inset]="true">
      <ion-list-header>
        <ion-label>Create New Records</ion-label>
        <ion-button></ion-button>
      </ion-list-header>
      <ion-item>
        <ion-input type="text" placeholder="Firstname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Lastname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Address"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="License Number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Plate Number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Type of Vehicle"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Date of Violation"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Place of Violation"></ion-input>
      </ion-item>
      <ion-item>
        <ion-select label="Type of Violation" label-placement="stacked">
          <ion-select-option value="Illegal Parking">Illegal Parking</ion-select-option>
          <ion-select-option value="No Driver's Licence">No Driver's Licence</ion-select-option>
          <ion-select-option value="Expired Driver's License">Expired Driver's License</ion-select-option>
          <ion-select-option value="Fake Driver's License">Illegal Parking</ion-select-option>
          <ion-select-option value="Illegal Terminal">Illegal Parking</ion-select-option>
          <ion-select-option value="Reckless Driving">Illegal Parking</ion-select-option>
          <ion-select-option value="No Franchise">Illegal Parking</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Amount"></ion-input>
      </ion-item>
        <ion-button expand="block" color="success" >Save</ion-button>
    </ion-list>
  </ion-content>