<ion-app>
<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Total Apprehension</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
    <ion-button fill="clear" routerLink="/graph">View Details</ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Photo Capture</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
    <ion-button fill="clear" routerLink="/camera">Add</ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Map Interface</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
    <ion-button fill="clear" routerLink="/maps">View Details</ion-button>
  </ion-card>

</ion-card>
</ion-content>
