<ion-header>
  <ion-toolbar>
    <ion-title>Chart</ion-title>
    <ion-buttons slot="start">
      <ion-back-button default-href="#" routerLink="/dashboard"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <div class="ion-padding">
      <ion-card>
        <ion-card-header>
          Line Chart
        </ion-card-header>
        <ion-card-content>    
            <img src="../assets/images/My Project.jpeg">
        </ion-card-content>
      </ion-card>
  
      <ion-card>
        <ion-card-header>
          Column Chart
        </ion-card-header>
        <ion-card-content>
          <img src="../assets/images/My Project (1).jpeg">
        </ion-card-content>
      </ion-card>
   
      <ion-card>
        <ion-card-header>
          Bar Chart
        </ion-card-header>
        <ion-card-content>
          <img src="../assets/images/Bar.jpeg">
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>